.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 16px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #31d177 !important;
}

.nav-item {
  padding: 0 10px;
}

.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: fixed;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #31d177;
}

.footer p {
	margin-top: 25px;
	font-size: 14px;
  color: #fff;
}

form label {
  font-weight: bold;
}

form .btn {
  background-color:#31d177;
  color: white;
  font-weight: 500;
}

p {
  text-align: justify;
}

em {
  color: grey
}

article:hover:not(button) {
  cursor: pointer;
  opacity: 0.7;
}

article button:hover, article button:focus {
  color: rgb(174, 0, 0);
}

.footer p {
  text-align: center;
}

.delete-form {
  position: relative;
}

.delete-button {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  border: none;
}

.post {
  padding: 10px;
  border-style: solid;
  border-radius: 10px;
  border-color: rgba(128, 128, 128, 0.315);
}

